@font-face {
  font-family: 'Orbitron';
  src: url(fonts/Orbitron-Regular.ttf)
}

@font-face {
  font-family: 'IndieFlower';
  src: url(fonts/IndieFlower.ttf)
}

body {
  background: #2C3E70;
}

header {
  left: 0px;
  top: 0px;
  width: 100%;
}

header h1 {
  font-size: 50px;
}

footer {
  left: 0px;
  bottom: 0px;
  height: 60px;
  width: 100%;
}

.metalicFont {
  font-family: 'Orbitron';
}

.softFont {
  font-family: 'IndieFlower';
}

.bigLetters {
  font-size: 18px;
}

.center {
  text-align: center;
}

.whiteFont {
  color: rgba(255, 255, 255, 0.94);
}

#pomodoro {
  position: relative;
}

.timerBox {
  margin-bottom: 20px;
}

.timerBox h2 {
  color: #fff;
  text-decoration: underline;
}

.timeSet {
  color: #fff;
  font-size: 50px;
  position: relative;
  display: block;
}

.control {
  display: inline-block;
  position: relative;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 37%;
  padding: 2px 4px;
  font-size: 23px;
  transition: 0.5s all;
  cursor: pointer;
}

.control:hover {
  background-color: rgba(255, 255, 255, 0.18);
}

.controlLeft {
  margin-right: 20px;
}

.controlRight {
  margin-left: 20px;
}

#timeTracker {
  margin-top: 40px;
  display: block;
  position: relative;
}

#timer {
  display: inline-block;
  box-sizing: border-box;
  width: 255px !important;
  height: 80px !important;
  border: 3px solid #fff;
  border-radius: 37%;
  padding: 10px 30px;
  font-size: 53px;
  background: #fff;
  color: #2C3E70;
}

#timerControls span {
  margin-top: 23px;
  padding: 7px 9px;
}

.timerActive {
  color: rgba(56, 209, 10, 0.75) !important;
  text-decoration: none !important;
}

.timerActive:before {
  content: "***";
}

.timerActive:after {
  content: "***";
}


/* document.querySelector("#pomoTime").parentElement.firstElementChild */

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}